<a id="top"></a>
<div id="navigation" class="fixed">
  <div id="navbarBottom" class="navbar navbar-default ">
    <div class="container" data-home-container>
      <div class="navbar-header">
        <div id="mobile_menu">
          <a href="#drawer-menu" class="nav-button nav-button-x"><span>toggle menu</span></a>
        </div>
        <div id="branding-container">
          <a class="brand" data-site-href="index.html" title=" Digital Biology Lab">
            <img class="site-logo" data-site-src="assets/uploads/2022/07/Logo-Full-1.png" alt=" Digital Biology Lab" width="" height="" />
          </a>
        </div>
      </div>
      <nav id="main_nav" class="menu-main-menu-container" aria-label="Main Navigation">
        <ul id="menu-main-menu" class="menu pull-right">
          <li id="menu-item-3002" data-nav-id="home" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-3002"><a data-site-href="index.html"><span>Home</span></a></li>
          <li id="menu-item-3004" data-nav-id="team" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3004"><a data-site-href="our-team/index.html"><span>Team</span></a></li>
          <li id="menu-item-3003" data-nav-id="news" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3003"><a data-site-href="digital-bio-news/index.html"><span>News</span></a></li>
          <li id="menu-item-3005" data-nav-id="publications" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3005"><a data-site-href="publications/index.html"><span>Publications</span></a></li>
          <li id="menu-item-3006" data-nav-id="software" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3006"><a data-site-href="software/index.html"><span>Software</span></a></li>
          <li id="menu-item-3007" data-nav-id="contact" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3007"><a data-site-href="contact/index.html"><span>Contact</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
